header{
  background-color: blue;
  width: 100%;
  height: 70px;
  overflow: hidden; 
}
.beautiful-js { 
  position: fixed;
  width: 100%;
  top: 0;
  z-index: -2;
  background: #000 url(../img/beautiful_js.jpg) center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  height: 500px;
}

.beautiful-truchas { 
  position: fixed;
  width: 100%;
  top: 450px;
  z-index: -1;
  background: #000 url(../img/nathan_sass_kayak2.jpg) center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  height: 1000px;
}

.polemic {
  max-width: 700px;
  padding: 60px 0px 60px 0px;
  margin: 0px auto;
}
 
.work {
  max-width: 700px;
  padding: 60px 0px 60px 0px;
  margin: 0px auto;
}

.content-container {
  margin-top: 400px;
  background-color: grey;
}

.work-container{

}
 

#kayak{
  background: url(../img/nathan_sass_kayak2.jpg) 100% 0 no-repeat fixed; 
}

 