body {
  font-family: "Lato";
  background-color:  #0d4d2c; 
  /*background color is where the footer color is set*/
  color: #1302C3;
}

header{
  background-color: white;
  width: 100%;
  height: 70px;
  overflow: hidden; 
}

h1 {
  font-weight: 300;
  font-size: 2.5em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.content-area{
  max-width: 1000px;
  padding: 70px 0px 70px 0px;
  margin: 0px auto;
  text-align: center;
}

/*-------------- CONTENT BEGIN --------------*/

.content-container {
  margin-top: 300px;
  background-color: white;
}

.beautiful-js { 
  position: fixed;
  width: 100%;
  top: 0;
  z-index: -2;
  background: #000 url(../img/beautiful_js2.jpg) center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  height: 400px;
}

.beautiful-truchas { 
  position: fixed;
  width: 100%;
  z-index: -1;
  background: #000 url(../img/nathan_sass_kayak.jpg) center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  height: 1000px;
}

.beautiful-truchas p {
  position: absolute;
  max-width: 500px;
  top: 125px;
  left: 100px;
  letter-spacing: 0.07em;
  font-size: 2.5em;
  font-weight: 100;
  color: white;
}

.beautiful-truchas span {
  font-weight: 400;
}
.polemic h1 {
  font-weight: 100;
  font-size: 1.75em;
  letter-spacing: 0.07em;
}

.polemic h1:nth-child(2) {
  padding: 60px 0 60px 0;
}

.polemic img{
  padding-top: 40px
}
 
/*-------------- WORK SECTION BEGIN --------------*/
.work-container{
  margin-top: 700px
}

.work ul{
  list-style: none;
  margin-right: 25px;
}

.work ul li {
  font-weight: 100;
  font-size: 1.75em;
}

.work ul li:first-child{
  padding: 0 0 10px 0;
}

.work ul li{
  padding: 10px 0 10px 0;
}
.work ul li:last-child{
  padding: 10px 0 0 0;
}

.work ul li a:hover {
  color: rgb(14, 200, 20);
}


/*-------------- CONTACT SECTION BEGIN --------------*/

.contact-container{
  margin-top: 0px;
  background-color: #e0e5e3;
}


.contact h1 {
  padding-bottom: 5vh;
  margin: 0;
}

.contact img{
  border-radius: 50%;
}

.contact h2 {
  padding: 5vh 0 0 0;
  margin: 0;
  font-size: 2em;
  font-weight: 100;
}

/*-------------- FOOTER SECTION BEGIN --------------*/

footer{
  max-width: 1000px;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  color: white;
}

footer p{
  margin: 0;
  padding: 5vh 0 5vh 0;
  letter-spacing: 0.07em;
}

.hidden {
  display: none;
 }

